<<<<<<< HEAD
@import "tailwindcss";

.card {
    @apply bg-white p-6 rounded-xl shadow-md;
=======
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5f9;
    color: #1e293b;
<<<<<<< HEAD
=======
@import "tailwindcss";

.card {
    @apply bg-white p-6 rounded-xl shadow-md;
>>>>>>> a71613e (Update dashboard frontend)
>>>>>>> c62dfe0
}
=======
}
>>>>>>> 4ddcbce3d1758ede341dce7c41a7fc43ca4a1f94
